/*
COLORS

## Primary - Green 500: hsl(158, 36%, 37%);
- Green 700: hsl(158, 42%, 18%);

Neutral - Black: hsl(212, 21%, 14%);
- Grey: hsl(228, 12%, 48%);
- Cream: hsl(30, 38%, 92%);
- White: hsl(0, 0%, 100%);

*/

:root {
  --clr--green-500: hsl(158, 36%, 37%);
  --clr--green-700: hsl(158, 42%, 18%);
  --clr--black: hsl(212, 21%, 14%);
  --clr--grey: hsl(228, 12%, 48%);
  --clr--cream: hsl(30, 38%, 92%);
  --clr--white: hsl(0, 0%, 100%);

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.card {
  background-color: var(--clr--cream);
  padding: 1rem 1.2rem 0rem 1rem;
  min-height: 42rem;
  max-width: 23rem;
  margin: 0;
  border: none;
}

.card>*+* {
  padding: 0 .75rem;
}

.image {
  border: none;
  border-radius: 10px 10px 0 0;
  width: 20.8rem;
  height: 15.1rem;
  /*margin-bottom: -0.313rem;*/

}

.card-box {
  background-color: var(--clr--white);
  margin: 0;
  /*margin-top: -0.2rem;*/
  flex: 1 0 0;
  flex-wrap: wrap;
  padding-bottom: 5px;
  border-radius: 0 0 10px 10px;

}

.card-content {
  display: flex;
  flex-direction: column;
  justify-self: start;

}

.title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.3rem;
  padding: 0.33rem 0.9rem;
  font-family: 'Fraunces', sans-serif;
}

.subtitle {
  text-transform: uppercase;
  color: var(--clr--grey);
  font-weight: 500;
  font-size: 0.7rem;
  letter-spacing: 0.3rem;
  padding: 2rem 0 0 0.64rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  text-shadow: initial;

}

.paragraph {
  font-size: 0.875rem;
  color: var(--clr--grey);
  line-height: 1.5em;
  justify-content: left;
  padding: 0.33rem 0 0 0.625rem;
}

.prices {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  margin: 1.25rem 0;
}

.discount-price {
  color: var(--clr--green-500);
  font-size: 2rem;
  font-weight: 700;
  padding-left: 1.25rem;
  font-family: 'Fraunces', sans-serif;
}

.price {
  align-items: center;
  font-size: 0.875rem;
  text-decoration: line-through;
  color: var(--clr--grey);
  font-weight: 500;


}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--clr--green-500);
  color: var(--clr--white);
  padding: 0.938rem 4.688rem;
  margin-left: 0.938rem;
  margin-bottom: 1.25rem;
  border: none;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 600;
}

.button img {
  height: 1rem;

}

.button:hover,
.button.active {
  background-color: var(--clr--green-700);
}

@media screen and (min-width: 50rem) {
  body {
    background-color: var(--clr--cream);



  }

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }


  .card {
    height: 27rem;
  }

  .image {
    height: 27.3rem;
  }

  .card-box {
    border-radius: 0 0.625rem 0.625rem 0;
    justify-content: flex-start;
    align-items: flex-start;
    padding: -0.5rem 0;
    min-width: 310px;
    margin: 0;
  }



  .image {
    content: url("./images/image-product-desktop.jpg");
    border-radius: 0.625rem 0 0 0.625rem;
    max-width: 340px;
  }

  .title {
    padding: 0.33rem 1.4rem;
    justify-content: flex-start;
  }



  .paragraph {
    padding: 0.625rem 1.25rem;
    justify-content: flex-start;
  }

  .button {
    margin-left: 1.3rem;

  }

}
